.blink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: rgb(175, 159, 159);
  color: #fff;
  border-radius: 20px 20px 0 0;
}
button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
  background: rgb(233, 233, 233);
}
h1 {
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  vertical-align: middle;
}

.doggo {
  display: flex;
  align-items: center;
  justify-content: center;
}
