/* Product Layout */

.product-filter {
  display: flex;
  padding: 30px 0;
  height: 60px;
}

.sort {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}
.dropdown {
  outline: none;
  border: none;
  padding: 0.5rem;
}

.sort > * {
  padding-right: 20px;
}
.collection-sort:last-child {
  padding: 0;
}

label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.slideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}
.slideBox p {
  color: rgb(25, 127, 223);
  font-weight: bold;
}

.min-max {
  display: flex;
  justify-content: space-between;
}
