.cart-product-card {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  padding: 15px;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.cart-product-image img {
  width: 100%;
}

.cart-product-info {
  margin: auto 10px;
}
